run = "python3 ServerProd.py"
# run = "python3 ServerDev.py"

language = "python3"

[nix]
channel = "stable-21_11"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

  [packager.features]
  enabledForHosting = false
  packageSearch = true
  guessImports = true
